@page
@model Voogle.Pages.Videos.Crud.IndexModel

@{
    ViewData["Title"] = "Index";
}


<style type="text/css">

    body {
        margin: 0px;
        width: 100%;
        height: 100%;
        color: white;
        background-color: #9be0d0;
        font-family: 'Palatino Linotype', Georgia;
    }

    h1 {
        color: #ee2831;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
        text-align: center;
        font-size: 40px;
        padding: 1%;
        text-transform: full-width uppercase;
        position: relative;
        font-size: 30px;
        z-index: 1;
        overflow: hidden;
        text-align: center;
    }

        h1:before, h1:after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 50%;
            height: 2px;
            content: '\a0';
            background-color: white;
        }

        h1:before {
            margin-left: -50%;
            text-align: right;
        }

    .row {
        margin: 0px 0px 50px 0px;
    }

    /* Set additional styling options for the columns*/
    .column1 {
        float: left;
        width: 80%;
        padding: 10px;
    }

    .column2 {
        float: left;
        width: 20%;
        text-align:center;
        padding:10px;
    }


    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    button {
        display:inline-block;
        cursor: pointer;
        padding: 3px 13px;
        font-size: 20px;
        font-weight: bold;
        color: #ee2831;
        background: white;
        border: 2px solid #ee2831;
        box-shadow: 5px 5px 0 #ee2831, -5px -5px 0 #ee2831, -5px 5px 0 #ee2831, 5px -5px 0 #ee2831;
        transition: 250ms ease-in-out;
    }

        button:hover {
            box-shadow: 20px 5px 0 black, -20px -5px 0 black;
        }

        button:focus {
            outline: none;
        }

    .stars {
        --s: 25px;
        width: calc(var(--n,5)*var(--s));
        height: calc(var(--s)*0.9);
        --v1: transparent,#000 0.5deg 108deg,#0000 109deg;
        --v2: transparent,#000 0.5deg 36deg,#0000 37deg;
        -webkit-mask: conic-gradient(from 54deg at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)), conic-gradient(from 90deg at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)), conic-gradient(from 126deg at calc(var(--s)*0.5) calc(var(--s)*0.7),var(--v1)), conic-gradient(from 162deg at calc(var(--s)*0.5) 0,var(--v2));
        -webkit-mask-size: var(--s) var(--s);
        -webkit-mask-composite: xor,destination-over;
        mask-composite: exclude,add;
        background: linear-gradient(gold 0 0) 0/calc(var(--l,0)*var(--s)) no-repeat #ccc;
        display: inline-flex;
    }

    .duration {
        text-align: center;
    }
    .VideoRow {
        border: solid 2px #9be0d0;
        background-color: #ee2831;
        color: white;
    }

    td a {
        display: block;
        color:white;
        overflow:hidden;
        height:100px;
    }



</style>


<body>

    <h1><strong>Videos</strong></h1>


    <div class="row">
        <div class="column1">
            <table class="table">
                <!--<thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Video[0].Title)
                        <br />
                        @Html.DisplayNameFor(model => model.Video[0].UploadDate)
                        <br />
                        @Html.DisplayNameFor(model => model.Video[0].Publisher)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Video[0].Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Video[0].AvgRating)
                        <br />
                        @Html.DisplayNameFor(model => model.Video[0].Duration)
                    </th>
                    <th></th>
                </tr>
            </thead>-->
                <tbody>
                    @foreach (var item in Model.Video)
                    {
                        <tr class="VideoRow">
                            <td style="width:15%; vertical-align:middle">
                                <a asp-page=".\Pages\Player" asp-route-id="@item.VideoID">
                                    <div>
                                        <img src="~/video-player-svgrepo-com.png" style="width:100%; text-align:center" />
                                        <br />
                                        <div>Video ID : @Html.DisplayFor(modelItem => item.VideoID)</div>
                                    </div>
                                </a>
                            </td>
                            <td style="width:20%; text-align:left; vertical-align:middle">
                                <a asp-page=".\Pages\Player" asp-route-id="@item.VideoID">
                                    @Html.DisplayFor(modelItem => item.Title)
                                    <br />
                                    <br />
                                    Publisher: @Html.DisplayFor(modelItem => item.Publisher)
                                </a>
                            </td>
                            <td style="width:40%; vertical-align:middle; text-align:left">
                                <a asp-page=".\Pages\Player" asp-route-id="@item.VideoID">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </a>
                            </td>
                            <td style="width:10% ; text-align:right">
                                <a asp-page=".\Pages\Player" asp-route-id="@item.VideoID">
                                    <div class="stars" style="--l:@item.AvgRating"></div>
                                    <br />
                                    <br />
                                    @item.UploadDate.ToString("dd/MM/yyyy")
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="column2">
            <p>
                <form method="get">
                    <button type="submit" class="name noselect" asp-page="Create">Upload</button>
                </form>

            </p>
        </div>
    </div>
</body>


